.articles-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.articles-button {
  padding: 0.5rem;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #32b697;
  text-align: left;
  color: #32b697;
  margin: 3px;
}
